@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel panel-primary">
    <div class="panel-heading">Change Password</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="current_password" >Current Password</label>
                    <div class="controls">
                        <input type="password"  class="form-control" name="current_password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="new_password" >New Password</label>
                    <div class="controls">
                        <input type="password"  class="form-control" name="new_password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirm_password" >Confirm Password</label>
                    <div class="controls">
                        <input type="password"  class="form-control" name="confirm_password">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <button href="#" class="btn btn-primary" id="password_modal_save">Save</button>&nbsp;
                <button href="#" class="btn" aria-hidden="true">Close</button>
            </div>
        </div>
    </div>

</div>