
@model System.Guid
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section plugin_css {
    <link href="~/Content/css/Plugins/dataTables/datatables.min.css" rel="stylesheet" type="text/css">
}

@section plugin_scripts {
    <script src="~/Content/js/plugins/tables/datatables/datatables.min.js"></script>
    <script src="~/Content/js/plugins/tables/dataTables/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/js/plugins/notifications/bootbox.min.js"></script>
    <script src="~/Content/js/Pages/Datatables/UserDetail.js"></script>
}


<input type="hidden" id="UserId" name="UserId" value="@Model" />
<div class="ibox ">
    <div class="ibox-title">
        <h5>Basic Data Tables example with responsive plugin</h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    <a href="#" class="dropdown-item">Config option 1</a>
                </li>
                <li>
                    <a href="#" class="dropdown-item">Config option 2</a>
                </li>
            </ul>
            <a class="close-link">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">
        <table class="table text-nowrap">
            <thead>
                <tr>
                    <th>Thuoc tinh</th>
                    <th>Gia tri</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-active table-border-double">
                    <td colspan="2">Today</td>
                </tr>
                <tr>
                    <td><span class="text-muted">UserId</span></td>
                    <td><label id="UserId" name="UserId"> not thing</label></td>
                </tr>
                <tr>
                    <td><span class="text-muted">UserName</span></td>
                    <td><label id="UserName" name="UserName"> not thing</label></td>
                </tr>
                <tr>
                    <td><span class="text-muted">Email</span></td>
                    <td><label id="Email" name="Email"> not thing</label></td>
                </tr>
                <tr>
                    <td><span class="text-muted">Password</span></td>
                    <td><label id="Password" name="Password"> not thing</label></td>
                </tr>
                <tr>
                    <td><span class="text-muted">FirstName</span></td>
                    <td><label id="FirstName" name="FirstName"> not thing</label></td>
                </tr>
                <tr>
                    <td><span class="text-muted">LastName</span></td>
                    <td><label id="LastName" name="LastName"> not thing</label></td>
                </tr>
                <tr>
                    <td><span class="text-muted">PhoneNumber</span></td>
                    <td><label id="PhoneNumber" name="PhoneNumber"> not thing</label></td>
                </tr>
                <tr>
                    <td><span class="text-muted">BirthDay</span></td>
                    <td><label id="BirthDay" name="BirthDay"> not thing</label></td>
                </tr>
                <tr>
                    <td><span class="text-muted">IpAddress</span></td>
                    <td><label id="IpAddress" name="IpAddress"> not thing</label></td>
                </tr>
                <tr>
                    <td><span class="text-muted">Status</span></td>
                    <td><label id="Status" name="Status"> not thing</label></td>
                </tr>
                <tr>
                    <td><span class="text-muted">CreateDate</span></td>
                    <td><label id="CreateDate" name="CreateDate"> not thing</label></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="ibox ">
    <div class="ibox-title">
        <h5>Basic Data Tables example with responsive plugin</h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    <a href="#" class="dropdown-item">Config option 1</a>
                </li>
                <li>
                    <a href="#" class="dropdown-item">Config option 2</a>
                </li>
            </ul>
            <a class="close-link">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">
        <div class="tabs-container">
            <ul class="nav nav-tabs" role="tablist">
                <li><a class="nav-link active" data-toggle="tab" href="#tab-1"> Role</a></li>
                <li><a class="nav-link" data-toggle="tab" href="#tab-2"> Permission</a></li>			
                <li><a class="nav-link" data-toggle="tab" href="#tab-3"> PosReceiptOfDelivery</a></li>			
            </ul>
            <div class="tab-content">

                <div role="tabpanel" id="tab-1" class="tab-pane active">
                    <div class="panel-body">
                      <div class="table-responsive">		
                        <table id="RoleTable" class="table table-bordered table-hover datatable-highlight dataTable no-footer" style="width:100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>RoleId</th>
                                    <th>RoleName</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                        </table>
		              </div>
                    </div>
                </div>

                <div role="tabpanel" id="tab-2" class="tab-pane">
                    <div class="panel-body">
                      <div class="table-responsive">		
                        <table id="PermissionTable" class="table table-bordered table-hover datatable-highlight dataTable no-footer" style="width:100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>PermissionId</th>
                                    <th>PermissionName</th>
                                    <th>PermissionDescription</th>
                                    <th>ControllerName</th>
                                    <th>ActionName</th>
                                    <th>IsAnonymous</th>
                                    <th>IsDefaultAllow</th>
                                </tr>
                            </thead>
                        </table>
		              </div>
                    </div>
                </div>

                <div role="tabpanel" id="tab-3" class="tab-pane">
                    <div class="panel-body">
                      <div class="table-responsive">		
                        <table id="PosReceiptOfDeliveryTable" class="table table-bordered table-hover datatable-highlight dataTable no-footer" style="width:100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>PosReceiptOfDeliveryId</th>
                                    <th>DeliveryDate</th>
                                    <th>ReceiverName</th>
                                </tr>
                            </thead>
                        </table>
		              </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
